p{
    margin: auto;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 25px;
}
button {
    margin: 50px 0 0 700px;
    padding: 50px 60px;
    background: rgb(0, 255, 170);
    color: black;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto';
    border-radius: 10px;
    border: 1px solid red;
    transition: 2s;
}
button:hover {
    color: red;
    border-radius: 30px;
    border: 5px solid rgb(0, 255, 170);
    background: red;
    padding: 50px 60px;
}
*{
    text-decoration: none;
}